
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header1 {
    color: white;            
    padding: 10px 0;        
    text-align: center;     
    width: 100%;            
}


nav {
    text-align: center;
    margin: 20px 0;
}

nav button {
    position: relative; 
    margin: 0 15px;
    padding: 0; 
    background: none; 
    border: none; 
    cursor: pointer;
}

nav .image-button img {
    display: block;
    width: 100px;
    height: 50px;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    pointer-events: none;
}

section {
    padding: 20px;
    width: 100%;
    max-width: 1200px; 
    box-sizing: border-box;
}

footer {
    background-color: FFFFFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.chat-container {
    width: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    border-radius: 8px; 
}

.chat-container h2 {
    margin-top: 0;
}

.messages {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;
}

.message {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.message:last-child {
    border-bottom: none;
}

.message p {
    margin: 0;
}

.message small {
    color: #777;
}

.chat-container input[type="text"] {
    width: 80%;
    border: 1px solid #ccc;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}

.chat-container button {
    width: 18%;
    background-color:  #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.chat-container button:hover {
    background-color:  #333;
}


